{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Monitoreo Salud Personal</title>
        <meta name="robots" content="noindex, nofollow">
        
        <!-- Favicon and touch Icons -->
        <link href="{% static 'img/index/icono.jpg' %}" rel="icon" type="image/x-icon">
        
        
        <link rel="stylesheet" id="css-main" href="{% static 'css/index/codebase.min-5.8.css' %} ">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9HQDQJJYW7"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-9HQDQJJYW7');</script>
    </head>
    <body>
        <div id="page-container" class="main-content-boxed">
            <main id="main-container">
                <!--style="background-image: url('{% static 'admin/img/photo34@2x.jpg' %}');">-->
                <div class="bg-image"
                style="background-image: url('{% static 'img/index/bg1.jpg' %}');">
                    <div class="row mx-0 bg-black-50">
                        <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
                            <div class="p-4">
                                <p class="fs-3 fw-semibold text-white">
                                    Cuida tu cuerpo, es el único lugar que tienes para vivir.
                                </p>
                                <p class="text-white-75 fw-medium">
                                    Copyright &copy; <span
                                    data-toggle="year-copy"></span>
                                </p>
                            </div>
                        </div>
                        <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-body-extra-light">
                            <div class="content content-full">
                                <div class="px-4 py-2 mb-4">
                                    <a class="link-fx fw-bold" href="../../../../../../../../../../../">
                                        <span class="fs-4 text-body-color">Monitoreo</span>
                                        <span class="fs-4">Salud</span>
                                        <span class="fs-4 text-body-color">Personal</span>
                                    </a>
                                    <h1 class="h3 fw-bold mt-4 mb-2">
                                        Welcome
                                    </h1>
                                    <h2 class="h5 fw-medium text-muted mb-0">Please sign up</h2>
                                </div>
                                
                                <form class="js-validation-signin px-4" action="../../../../../../../../register/" method="POST">
                                    {% csrf_token %}
                                    {% if Error %}
                                        <div class="alert alert-danger alert-dismissible" role="alert" id="continer_alert">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="close_alert"></button>
                                            <h3 class="alert-heading fs-5 fw-bold mb-1">Error</h3>
                                            <p class="mb-0">
                                                {{Error}}
                                            </p>
                                        </div>
                                        <script>
                                            document.getElementById("close_alert").addEventListener('click',function(e){
                                                document.getElementById("continer_alert").classList.add('d-none')
                                            })
                                        </script>
                                    {% endif %}
                                    <div class="form-floating mb-4">
                                        {{register_form.fname}}
                                        <label class="form-label" for="login-username">Nombres</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        {{register_form.username}}
                                        <label class="form-label" for="login-password">Username</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        {{register_form.email}}
                                        <label class="form-label" for="login-password">Email</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        {{register_form.phone}}
                                        <label class="form-label" for="login-password">Phone</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        {{register_form.password1}}
                                        <label class="form-label" for="login-password">Password</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        {{register_form.password2}}
                                        <label class="form-label" for="login-password">Repeat Password</label>
                                    </div>
                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-lg btn-alt-primary fw-semibold">
                                            Sign up
                                        </button>
                                        <div class="mt-4 d-flex justify-content-between">
                                            <a class="fs-sm fw-medium link-fx text-muted me-2 mb-1 d-inline-block" 
                                                href="../../../../../../../../../../../../../../login/">
                                                Sign in
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="{% static 'js/index/codebase.app.min-5.8.js' %}"></script>
        <script src="{% static 'js/index/jquery.min.js' %}"></script>
        <script src="{% static 'js/index/jquery.validate.min.js' %}"></script>
        <script src="{% static '/js/index/op_auth_signin.min.js' %}"></script>
    </body>
</html>